.picker-panel{
  border-radius: 5px;
  padding: 12px;
  position: absolute;
  top: calc(3.5rem + calc(var(--bs-border-width) * 2));
  left: 0;
  width: 100%;
  background: white;
  border: var(--bs-border-width) solid var(--bs-border-color);
  z-index: 10;
}
.picker-search{
  margin-bottom: 5px;
}

.picker-option{
  cursor: pointer;
  padding: 3px;
  user-select: none;
}
.picker-option:hover{
  background: var(--bs-light);
}
.picker-option.active{
  background: var(--bs-primary);
  color: var(--bs-light);
}


.picker-selected{
  background: var(--bs-secondary) !important;
  color: var(--bs-light) !important;
}

.picker-active{
  background: var(--bs-primary) !important;
  color: var(--bs-light) !important;
}

.option-panel{
  overflow: auto;
  max-height: 500px;
}